 body{
  box-sizing: border-box;
 }
 nav{
  margin-top: -25px;
 }
 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
  }
  
  .left {
    float: left;
  }
  .right {
    float: right;
  }
  
  li a {
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 20px 18px;
    color: rgb(249, 250, 250);
    font-size: 20px;
    
  }
  
  li a:hover {
    background-color: skyblue;
  }

  #container{
    justify-content: center;
    display: flex;
    padding-top: 30px;
    /*margin-left: 35px;
    margin-right: 35px;*/
    border-top: 20px solid skyblue;
  }

  #childContainer{
    /*justify-content: center;*/
    
  }

  img{
    width: 100%;
    height: 100%;
  }

  #intro{
   margin-top: 10px;
   padding-top: 20px;
   padding-bottom: 20px;
   background-color: bisque;
   border-right: 20px solid skyblue;
   border-top: 20px solid skyblue;
   
  }

  #myintro{
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: darkgrey;
    border-left: 20px solid skyblue;
    border-bottom: 20px solid skyblue;
   }
   
  div > h1, h5, p{
    text-align: center;
  }